* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}

.centerer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center {
  max-width: 50%;
}